:root {
  --space: 1rem;
  --border: 4px;
  --page-width: 80ch;
  --font-family: "Airbnb Cereal", sans-serif;
  --color-link: black;
  --color-active: #00848A;
  --ease: cubic-bezier(0.23, 1, 0.32, 1);
  --duration: 350ms;
  --section-offset: 0;
}

* {
  box-sizing: border-box;
}

html {
  --scroll-behavior: smooth;
  scroll-behavior: var(--scroll-behavior);
}
@media (prefers-reduced-motion: reduce) {
  html {
    --scroll-behavior: auto;
  }
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
}

h1, h2, h3 {
  font-weight: bold;
  line-height: 1.25;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

ul:not(.menu) {
  list-style-type: disc;
  margin-left: var(--space);
}
ul:not(.menu) > li + li {
  margin-top: var(--space);
}

.nav-sections {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  z-index: 100;
}
.nav-sections .menu {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0 auto;
  max-width: var(--page-width);
  transform: translateZ(0);
  transition: transform var(--ease) var(--duration);
}
.nav-sections .menu::-webkit-scrollbar {
  display: none;
}
.nav-sections .menu-item-link {
  display: block;
  padding: 12px 16px;
  font-size: 15px;
  text-decoration: none;
  white-space: nowrap;
  color: var(--color-link);
  transition: color var(--ease) var(--duration);
}
.nav-sections .menu-item-link.active {
  color: var(--color-active);
}

.menu-item:first-of-type .menu-item-link {
  margin-left: 0;
}

.active-line {
  position: absolute;
  bottom: 10%;
  left: 0;
  height: 80%;
  border-radius: 4px;
  background-color: var(--color-active);
  opacity: 10%;
  transition: width var(--ease) var(--duration), transform var(--ease) var(--duration);
}

.placeholder-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
  background-color: lightgray;
}

.page-sections {
  margin: 0 auto;
  max-width: var(--page-width);
}

.page-section {
  margin: calc(var(--space) * 2) 0;
}
.page-section > * + * {
  margin-top: calc(var(--space) * 1.5);
}

.section-title {
  outline: none;
}
.section-title:before {
  content: "";
  display: block;
  visibility: hidden;
  pointer-events: none;
  margin-top: calc(var(--section-offset) * -1px);
  height: calc(var(--section-offset) * 1px);
}

.buttons {
  padding: var(--space) 0 calc(var(--space) * 2) 0;
}

.btn {
  font: var(--font-family);
  font-size: 12px;
  margin-right: 4px;
  background: transparent;
  border: 1px solid black;
  border-radius: 100px;
  padding: 8px 12px;
}
.btn:focus {
  outline: 0;
}
.btn:active {
  background: #efefef;
}
.btn.on {
  background: black;
  color: white;
}

.micro .menu-item-link {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.micro .menu-item:first-of-type .menu-item-link {
  margin-left: 0;
}

.floating nav {
  margin: 12px auto;
  max-width: 81ch;
  border-radius: 4px;
  top: 12px;
}

.bordered .nav-sections {
  box-shadow: none;
  border: 1px solid #EBEBEB;
}

.shadows .nav-sections {
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
}

.rounded .active-line {
  border-radius: 100px;
}
.rounded nav {
  border-radius: 100px;
}

.highlight-bar.floating .nav-sections {
  max-width: 88ch;
}
.highlight-bar .menu-item-link {
  padding: 12px 0;
  margin: 0 12px;
}
.highlight-bar .active-line {
  bottom: 0;
  height: 2px;
  opacity: 1;
  border-radius: 4px;
}

.increase .change, .increase .percentage {
  color:rgb(7, 242, 199);
}

.increase .change:before {
  content:"";
  display:inline-block;
  border:0.3em solid transparent;
  border-bottom:0.4em solid rgb(7, 242, 199);
  position:relative;
  left:0.4em;
  top:0.2em;
}

.decrease .change:before {
  content:"";
  display:inline-block;
  border:0.3em solid transparent;
  border-top:0.4em solid rgb(254, 77, 109);
  position:relative;
  left:0.4em;
  top:0.75em;
}

.decrease .change, .decrease .percentage {
  color:rgb(254, 77, 109);
}
















.increase2 .change2, .increase2 .percentage2 {
  color:rgb(254, 77, 109);
}

.increase2 .change2:before2 {
  content:"";
  display:inline-block;
  border:0.3em solid transparent;
  border-bottom:0.4em solid rgb(254, 77, 109);
  position:relative;
  left:0.4em;
  top:0.2em;
}

.decrease2 .change2.change2:before2 {
  content:"";
  display:inline-block;
  border:0.3em solid transparent;
  border-top:0.4em solid rgb(7, 242, 199);
  position:relative;
  left:0.4em;
  top:0.75em;
}

.decrease2 .change2, .decrease2 .percentage2 {
  color:rgb(254, 77, 109);
}

.status-indicator2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.status-indicator2.up2 {
  background-color: #FF4D6D; /* Verde para alza */
}
.status-indicator2.down2 {
  background-color: rgb(7 242 199); /* Rojo para baja */
}
.change2.up2 {
  color: #FF4D6D; /* Verde */
}
.change2.down2 {

  color: rgb(7 242 199); /* Rojo */
}

.riesgo-card {
  height: 149px;
  margin: 0px;
  background-color: #222222;
  border-radius: 10px;
  width: 220px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(255, 184, 184);
  --card-radius: var(--chakra-radii-md);
  --card-padding: var(--chakra-space-5);
  --card-shadow: var(--chakra-shadows-base);
}

.riesgo4 {
  margin-bottom: 10px;
  font-family: helvetica;
  line-height: 1.2;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-right: var(--chakra-space-0-5);
  text-transform: lowercase;
  white-space: nowrap;
  overflow: visible;
  display: flex; /* Already set, but included for clarity */
  align-items: center;
  justify-content: center; /* Centers horizontally */
}

.priceriesgo {
  display: flex; /* Already set, but included for clarity */
  align-items: center;
  justify-content: center; /* Centers horizontally */

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: var(--chakra-fonts-heading);
  line-height: 1.2;
  font-size: 19px;
  text-align: left;
  font-weight: var(--chakra-fontWeights-bold);
  margin-right: var(--chakra-space-0-5);
  text-transform: lowercase;
  white-space: nowrap;
  overflow: visible;
}

h3 {
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  line-height: 1.2;
  font-size: 14px;
  text-align: left;
  font-weight: var(--chakra-fontWeights-bold);
  text-transform: lowercase;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.status-indicator.up {
  background-color: rgb(7 242 199); /* Verde para alza */
}
.status-indicator.down {
  background-color: #FF4D6D; /* Rojo para baja */
}



.css-12gkw7z {
  display: grid
;
  gap: var(--chakra-space-1);
  grid-template-columns: 160px 1fr 160px;
  max-width: 1180px;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px auto;
  -webkit-box-pack: center;
  justify-content: center;
height: 100%;
width: 100%;
}
.css-4qsayy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: var(--chakra-sizes-full);
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height: 100%;
}

h3 {
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  line-height: 1.2;
  font-size: 14px;
  text-align: left;
  font-weight: var(--chakra-fontWeights-bold);
  text-transform: lowercase;
}

.header h3 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.2em;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.price strong {
  font-size: 1.1em;
}


.prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  line-height: 1.2;
  font-size: 19px;
  text-align: left;
  text-transform: lowercase;
  white-space: nowrap;
  overflow: visible;
  font-weight: bold;
}

h20 {
  color: #9e9e9e;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  line-height: 1.2;
  font-size: 14px;
  text-align: left;
  font-weight: var(--chakra-fontWeights-bold);
  text-transform: lowercase;
}

.currency-card {
  height: 179px;
  margin: 0px;
  background-color: #222222;
  border-radius: 10px;
  width: 220px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}


@import url(https://fonts.googleapis.com/css?family=Quicksand);
.b-a, .bar:after, .bar:before, .bar {
  transition: all 0.25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0, 0.95);
}

.menu-collapsed {
  transition: all 0.25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}
.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:after, .menu-expanded .bar:before {
  transition: all 0.25s;
  top: 0px;
}

.menu-expanded {
  transition: all 0.25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-expanded a {
  transition: all 0.15s;
  text-decoration: none;
  font-size: 2em;
  padding: 5px;
  color: #fff;
  display: block;
}
.menu-expanded a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.15s;
  letter-spacing: 2px;
  color: #333;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.menu-expanded .bar {
  background-color: transparent;
  transition: all 0.25s;
}
.menu-expanded .bar:before {
  transform: rotate(45deg);
}
.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

.row {
  padding-top: 150px;
}

h1 {
  font-size: 3em;
}

h3 {
  color: #999;
}

p {
  line-height: 160%;
  letter-spacing: 1px;
}
