body {
  font-size:1em;
  line-height:1.618em;
  font-family:lato;
}

body {
  background-color: #161616;
  color: #ffffff;
  font-family: slick, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
main {
    display: block;
}
.ticker-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: var(--chakra-colors-darkGray);
  margin-right: 4px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;

}
.tickercotizations {
    color: var(--chakra-colors-darkGray);
    margin-right: 4px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}
.ticker {
  display: inline-block;
  animation: ticker 15s linear infinite;
}
.ticker span {
  margin-right: 40px;
  font-size: 1.2em;
  align-items: center;
}

.span2 {
  font-size: 5em;
  font-weight: bold;
  align-items: center;
}
@keyframes ticker {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }

}
.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
.AdFree {
  cursor: pointer;
      width: 160px;
      height: 600px;
      border-radius: 8px;
  }

.currency-card {
    animation: giro 1.5s 1;
}

.currency-card {
  height: 179px;
  margin: 0px;
  background-color: #222222;
  border-radius: 10px;
  width: 220px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.A10 {
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: var(--chakra-fonts-heading);
  line-height: 1.2;
  font-size: 19px;
  text-align: left;
  font-weight: var(--chakra-fontWeights-bold);
  margin-right: var(--chakra-space-0-5);
  text-transform: lowercase;
  white-space: nowrap;
  overflow: visible;
}

.riesgo-card {
  height: 149px;
  margin: 0px;
  background-color: #222222;
  border-radius: 10px;
  width: 220px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(255, 184, 184);
  --card-radius: var(--chakra-radii-md);
  --card-padding: var(--chakra-space-5);
  --card-shadow: var(--chakra-shadows-base);
}



.css-bielb8 {
    margin-right: 4px;
    border-radius: 90%;
    width: 15px;
    height: 15px;
}

.cripto-card-argy {
  height: 149px;
  margin: 0px;
  background-color: #222222;
  border-radius: 10px;
  width: 220px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(149 82 255);;
  --card-radius: var(--chakra-radii-md);
  --card-padding: var(--chakra-space-5);
  --card-shadow: var(--chakra-shadows-base);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: var(--chakra-fonts-heading);
  line-height: 1.2;
  font-size: 19px;
  text-align: left;
  font-weight: var(--chakra-fontWeights-bold);
  margin-right: var(--chakra-space-0-5);
  text-transform: lowercase;
  white-space: nowrap;
  overflow: visible;
}
.header h3 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.2em;
}
.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.status-indicator.up {
  background-color: rgb(7 242 199); /* Verde para alza */
}
.status-indicator.down {
  background-color: #FF4D6D; /* Rojo para baja */
}
.prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  line-height: 1.2;
  font-size: 19px;
  text-align: left;
  text-transform: lowercase;
  white-space: nowrap;
  overflow: visible;
  font-weight: bold;
}

.riesgo4 {
  margin-bottom: 10px;
  font-family: helvetica;
  line-height: 1.2;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-right: var(--chakra-space-0-5);
  text-transform: lowercase;
  white-space: nowrap;
  overflow: visible;
  display: flex; /* Already set, but included for clarity */
  align-items: center;
  justify-content: center; /* Centers horizontally */
}

.priceriesgo {
  display: flex; /* Already set, but included for clarity */
  align-items: center;
  justify-content: center; /* Centers horizontally */

}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.price strong {
  font-size: 1.1em;
}
.trend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}
.change.neutral {
  color: #cccccc;
}
.change.up {
  color: rgb(7 242 199); /* Verde */
}
.change.down {

  color: #FF4D6D; /* Rojo */
}

.css-o8013y {
    font-family: var(--chakra-fonts-heading);
    line-height: 1.2;
    font-size: 19px;
    text-align: left;
    font-weight: var(--chakra-fontWeights-bold);
    margin-right: var(--chakra-space-0-5);
    text-transform: lowercase;
    white-space: nowrap;
    overflow: visible;
}
main {
    display: block;
}
.ultimavez {
  --chakra-colors-darkGray: #5F5F5F;
    margin-left: 3px;
    align-self: end;
    font-size: 11px;
    color: var(--chakra-colors-darkGray);
    font-weight: var(--chakra-fontWeights-medium);
}
.buy {
  --chakra-colors-darkGray: #5F5F5F;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 24px;
  margin-inline: 0px;
  font-size: 22px;
  font-family: var(--chakra-fonts-sairaCondensed);
  font-weight: var(--chakra-fontWeights-semibold);
  letter-spacing: 0.3px;
  color: var(--chakra-colors-darkGray);
}
.css-th88q6 {
    cursor: pointer;
    width: 160px;
    height: 600px;
    border-radius: 8px;
}
.Venta-Square {
    background-color: var(--chakra-colors-black);
    outline-color: var(--chakra-colors-transparent);
    font-family: var(--chakra-fonts-saira);
    color: rgba(0, 150, 239, 0.6);
    width: 55px;
    margin-left: 0px;
    height: 18px;
    border-radius: 3px;
    outline-style: solid;
    outline-width: 0.5px;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.24px;
    padding: 2px 5px 1.5px;
    -webkit-transition: 0.1s ease-in-out all;
    transition: 0.1s ease-in-out all;
    text-transform: uppercase;
}
.css-th88q6 {
    cursor: pointer;
    width: 160px;
    height: 600px;
    border-radius: 8px;
}
.css-12gkw7z {
    display: grid
;
    gap: var(--chakra-space-1);
    grid-template-columns: 160px 1fr 160px;
    max-width: 1180px;
    -webkit-box-align: start;
    align-items: start;
    margin: 0px auto;
    -webkit-box-pack: center;
    justify-content: center;
  height: 100%;
  width: 100%;
}
.css-4qsayy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: var(--chakra-sizes-full);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    height: 100%;
}
.css-1o3g8cs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    margin-top: 10px;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
    margin-bottom: 19px;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex-flow: nowrap;
    -webkit-flex-flow: nowrap;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    font-weight: var(--chakra-fontWeights-medium);
    color: var(--chakra-colors-lightGray);
    font-size: 11px;
}

table {
  margin:auto;
  width:10em;
  border-collapse:collapse;
}

th, td {
  text-align:right; 
  margin:0;
  padding:0.4em 0.809em 0.6em;
}

td:nth-child(1) {
  letter-spacing:1px;
}

td:nth-child(2) {
  color:rgba(0,0,0,0.6)
}

th:nth-child(1), td:nth-child(1) {
  text-align:left
}

@import url(https://fonts.googleapis.com/css?family=Quicksand);
html,
body {
  height: 100%;
  background-color: #333;
  font-family: "Quicksand", sans-serif;
  color: white;

}

.b-a, .bar:after, .bar:before, .bar {
  transition: all 0.25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95);
}

.menu-collapsed {
  transition: all 0.25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}
.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:after, .menu-expanded .bar:before {
  transition: all 0.25s;
  top: 0px;
}

.menu-expanded {
  transition: all 0.25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-expanded a {
  transition: all 0.15s;
  text-decoration: none;
  font-size: 2em;
  padding: 5px;
  color: #fff;
  display: block;
}
.menu-expanded a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.15s;
  letter-spacing: 2px;
  color: #333;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.menu-expanded .bar {
  background-color: transparent;
  transition: all 0.25s;
}
.menu-expanded .bar:before {
  transform: rotate(45deg);
}
.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

.row {
  padding-top: 150px;
}

h1 {
  font-size: 3em;
  font-feature-settings: "kern";
}

h3 {
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  line-height: 1.2;
  font-size: 14px;
  text-align: left;
  font-weight: var(--chakra-fontWeights-bold);
  text-transform: lowercase;
}

h15 {
  color: #9e9e9e;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  line-height: 1.2;
  font-size: 14px;
  text-align: left;
  font-weight: var(--chakra-fontWeights-bold);
  text-transform: lowercase;
}

p {
  line-height: 160%;
  letter-spacing: 1px;
}

tr:nth-child(odd) {
  background:#f2f2f2;
}

.increase .change, .increase .percentage {
  color:rgb(7, 242, 199);
}

.increase .change:before {
  content:"";
  display:inline-block;
  border:0.3em solid transparent;
  border-bottom:0.4em solid rgb(7, 242, 199);
  position:relative;
  left:0.4em;
  top:0.2em;
}

.decrease .change:before {
  content:"";
  display:inline-block;
  border:0.3em solid transparent;
  border-top:0.4em solid rgb(254, 77, 109);
  position:relative;
  left:0.4em;
  top:0.75em;
}

.decrease .change, .decrease .percentage {
  color:rgb(254, 77, 109);
}
















.increase2 .change2, .increase2 .percentage2 {
  color:rgb(254, 77, 109);
}

.increase2 .change2:before2 {
  content:"";
  display:inline-block;
  border:0.3em solid transparent;
  border-bottom:0.4em solid rgb(254, 77, 109);
  position:relative;
  left:0.4em;
  top:0.2em;
}

.decrease2 .change2.change2:before2 {
  content:"";
  display:inline-block;
  border:0.3em solid transparent;
  border-top:0.4em solid rgb(7, 242, 199);
  position:relative;
  left:0.4em;
  top:0.75em;
}

.decrease2 .change2, .decrease2 .percentage2 {
  color:rgb(254, 77, 109);
}

.status-indicator2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.status-indicator2.up2 {
  background-color: #FF4D6D; /* Verde para alza */
}
.status-indicator2.down2 {
  background-color: rgb(7 242 199); /* Rojo para baja */
}
.change2.up2 {
  color: #FF4D6D; /* Verde */
}
.change2.down2 {

  color: rgb(7 242 199); /* Rojo */
}
